body{
  background-image: url(../images/landing/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 3200px;
}

body.landing * {
  transition: all .3s ease;
}



body.landing .menubar div {
  position: fixed;
  background-color: white;
  max-width: 1680px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}


.landingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
  background-color: #879696;
}

.mainSection.right,
.mainSection.center{
  color: white;
  /*background-color: rgb(135, 150, 150);*/
}


.mainSection h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 26px;
}


.mainSection section {
  position: absolute;
  top: 190px;
  width: 480px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.left {
  background-color: white;
}

.mainSection.right section {
  top: 191px;
  right: 160px;

}

.mainSection section figure {
  margin-top: 58px;
  margin-left: 100px;
  width: 31px;
  height: 4px;
  background-color: #50e3c2;
}

.mainSection.left section figure {
  margin-left: 0px;
}

.mainSection.right section figure {
  margin-left: 0px;
}


.mainSection.center {
  text-align: center;
  position: relative;
}

.mainSection.center h2 {
  font-size: 44px;
  line-height: 56px;
}

.mainSection.center p {
  margin-top: 27px;
}

.mainSection.center section {
  top: 191px;
  width: 100%;
}

.mainSection.center section nav {
  margin-top: -9px;
  margin-left: 560px;
  font-size: 0;
}

.mainSection.center section nav a {
  margin: 4px 12px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 30px;
}

.mainSection.center footer p {
  font-size: 16px;
  color: white;
}


.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 162px;
  width: 529px;
  height: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
}

#mockup2 {
  top: 173px;
  left: 159px;
  width: 139px;
  height: 317px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
}

#mockup3 {
  top: 173px;
  left: 333px;
  width: 140px;
  height: 395px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/works.png);
}

#mockup4 {
  top: 173px;
  left: 506px;
  width: 140px;
  height: 475px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/work.png);
}

#mockup5 {
  top: 303px;
  right: 40px;
  width: 760px;
  height: 403px;
  background-image: url(../images/screens.png);
}

.social-likes_single-w {
  margin-top: 8px;
}
