* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.landing.bg {
  background-image: url(../images/landing/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.full {
  display: block;
}

.compact {
  display: none;
}

.mainSection {
  width: 1440px;
  position: relative;
  height: 800px;
  overflow: hidden;
  background-color: #879696;
}

.mainSection.right,
.mainSection.center{
  color: white;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 26px;
}


.mainSection section {
  position: absolute;
  top: 190px;
  width: 538px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.left {
  background-color: white;
}

.mainSection.right section {
  top: 191px;
  right: 102px;

}

.mainSection section figure {
  margin-top: 58px;
  margin-left: 100px;
  width: 31px;
  height: 4px;
  background-color: #50e3c2;
}

.mainSection.left section figure {
  margin-left: 0px;
}

.mainSection.right section figure {
  margin-left: 0px;
}

.mainSection.center {
  text-align: center;
  position: relative;
}

.mainSection.center h2 {
  font-size: 44px;
  line-height: 56px;
}

.mainSection.center p {
  margin-top: 27px;
}

.mainSection.center section {
  top: 191px;
  width: 100%;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 30px;
}

.mainSection.center footer p {
  font-size: 16px;
  color: white;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 162px;
  width: 529px;
  height: 100%;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
}

#mockup2 {
  top: 193px;
  left: 159px;
  width: 139px;
  height: 317px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
}

#mockup3 {
  top: 193px;
  left: 333px;
  width: 140px;
  height: 395px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/works.png);
}

#mockup4 {
  top: 193px;
  left: 506px;
  width: 140px;
  height: 475px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/work.png);
}

#mockup5 {
  top: 343px;
  right: 40px;
  width: 760px;
  height: 403px;
  background-image: url(../images/screens.png);
}

.social-likes_single-w {
  margin-top: 8px;
}

.full {
  display: block;
}

.compact {
  display: none;
}

.btns {
  height: 69px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1680px) {
  .landingWrapper {
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 1179px){

  body.landing.bg {
      background-image: url(../images/landing/1179.png);
    }

    .full {
      display: none;
    }

    .compact {
     display: block;
    }


  .mainSection {
    width: 1179px;
    height: 568px;
  }

  .mainSection section {
    top: 137px;
    width: 342px;
  }

  .mainSection section h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection section p {
    font-size: 16px;
    margin-top: 18px;
    line-height: 26px;
  }

  .mainSection.left section {
    left: 191px;
  }

  .mainSection.right section {
    right: 192px;
    top: 137px;
  }

  .mainSection section figure {
    margin-top: 44px;
    width: 22px;
    height: 3px;
  }

  .mainSection.center section {
    top: 137px;
    left: -1px;
  }

  .mainSection.center h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .mainSection.center p {
    margin-top: 16px;
  }

  .mainSection.center footer {
    padding-bottom: 12px;

  }

  .mainSection.center footer p {
    font-size: 13px;
  }

  .btns {
    margin-top: 41px;
  }

  #mockup1 {
    top: 166px;
    right: 190px;
    width: 378px;
    height: 856px;
  }

  #mockup2 {
    top: 138px;
    left: 192px;
    width: 100px;
    height: 226px;
  }

  #mockup3 {
    top: 138px;
    left: 316px;
    width: 100px;
    height: 282px;
  }

  #mockup4 {
    top: 138px;
    left: 438px;
    width: 100px;
    height: 339px;
  }

  #mockup5 {
    top: 242px;
    right: 105px;
    width: 545px;
    height: 289px;
  }
}

@media screen and (max-width: 839px) {
  body.landing.bg {
    background-image: url(../images/landing/840.png);
  }

  .mainSection {
    width: 839px;
    height: 1024px;
  }

  .mainSection section {
    top: 137px;
    width: 340px;
  }

  .mainSection.left section {
    left: 148px;
  }


  .mainSection.right section {
    right: 153px;
    top:137px;
  }

  .mainSection.center section {
    top: 187px;
    left: 0px;
  }

  .mainSection.left section figure {
    margin-left: 1px;
  }
  .mainSection.right section figure {
    margin-left: 1px;
  }

  .btns {
    margin-top: 91px;
  }
  #mockup1 {
    top: 482px;
    right: 150px;
    width: 540px;
    height: 1223px;
  }

  #mockup2 {
    top: 456px;
    left: 175px;
    width: 140px;
    height: 317px;
  }

  #mockup3 {
    top: 456px;
    left: 348px;
    width: 140px;
    height: 395px;
  }

  #mockup4 {
    top: 456px;
    left: 521px;
    width: 140px;
    height: 474px;
  }

  #mockup5 {
    top: 505px;
    right: -80px;
    width: 761px;
    height: 404px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 { background-image: url(../images/about@2x.png); }
  #mockup3 { background-image: url(../images/works@2x.jpg); }
  #mockup4 { background-image: url(../images/work@2x.jpg); }
  #mockup5 { background-image: url(../images/screens@2x.png); }
}
