.menubar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  padding: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 84px;
  height: 24px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1179px) {
  .menubar {
    height: 41px;
  }

  .logo {
    width: 58px;
    height: 17px;
  }
}

/*@media screen and (max-width: 840px) {
  .menubar {
    height: 49px;
  }
}*/
