
.btn {
  display: block;
  border-style: solid;
}

.large {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: black;
  text-decoration: none;
  background-color: #77ffe1;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.small {
  width: 250px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-decoration: underline;
}

@media screen and (max-width: 1179px) {

  .large {
    width: 214px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
  }

  .small {
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
  }
}
